body {
    font-family: "Open Sans", verdana, arial, sans-serif;
}

.title-container {
    margin: 0% 8%;
}

.card {
    padding: 12px;
    box-shadow: 0 0 8px 2px #E0E0E0;
    border-radius: 4px;
    font-size: small;
}

.card-title {
    font-weight: bold;
}

.control-panel {
    margin: 0% 8%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 16px;
}

.wide-panel, .playground-legend, .playground-container {
    margin: 2% 8%;
    padding: 16px;
}

.playground-legend .legend-element {
    background-color: var(--color);
    border-radius: 50%;
}

table {
    border-collapse: collapse;
}

table th {
    border: 1px solid #ced1d7;
    padding: 4px 6px;
    text-align: center;
}

table td {
    border: 1px solid #ced1d7;
    padding: 4px;
    text-align: right;
}